#home-header {
    text-align: center;
    font-size: 1.7em;
}

 select {
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
   #home-header {
    font-size: 1.2em;
   }

   select {
    font-size: .8em;
   }
  }