#number-list-wrapper {
    text-align: center;
}

#numbers-list-el {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 0;
}

#numbers-list-el li {
    display: inline-block;
    margin: 0 10px;
}

.number-div,
.moneyball-div {
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.moneyball-div {
    background-color: red;
}

.moneyball-text {
    color: white;
    font-weight: bolder;
}

.number-text {
    font-size: 1.3em;
    font-weight: bold;
}

#fetch-new-nums-btn {
    background-color: green;
    color: white;
    font-size: 2em;
    text-align: center;
    border-radius: 7px;
    border: 2px solid green;
    padding: 10px;
}

#fetch-new-nums-btn:active {
    position: relative;
    top: 2px;
}

#fetch-new-nums-btn:hover {
    font-size: 2.3em;
}